<a href="https://colab.research.google.com/github/xraydog999/conda-xray/blob/main/colab_and_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# mnist   MyDrive

In [ ]:
import tensorflow as tf
from tensorflow import keras

In [ ]:
! pip install automl

Collecting automl
  Downloading automl-2.9.9-py2.py3-none-any.whl.metadata (11 kB)
Collecting dill<0.3,>=0.2.5 (from automl)
  Downloading dill-0.2.9.tar.gz (150 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.7/150.7 kB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting h5py<3.0,>=2.7.0 (from automl)
  Downloading h5py-2.10.0.tar.gz (301 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.1/301.1 kB 10.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting lightgbm<2.1,>=2.0.11 (from automl)
  Downloading lightgbm-2.0.12-py2.py3-none-manylinux1_x86_64.whl.metadata (6.4 kB)
Collecting numpy<2.0,>=1.11.0 (from automl)
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 3.5 MB/s eta 0:00:00
Collecting pandas<1.0,>=0.18.0 (from automl)
  Downloading pandas-0.25.3.tar.gz (12.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.6/12.6 MB 85.0 MB/s eta 0:00:00
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
!pwd

/content

In [ ]:
!ls
# This is under gdrive

sample_data

In [ ]:
from os import device_encoding
# mount data from Google Drive
# + new webpage
# drive.google.com
# go to folder named: DataSets
# mount titanic data set
# authorize colab to access Google Drive
# connect your Google Drive to your Colab notebook.
# This line imports the drive module from the google.colab library,
# which provides functions to interact with Google Drive.
from google.colab import drive
# his line calls the mount() function from the drive module. It mounts your Google Drive
# to the directory /content/gdrive in the Colab environment. When you run this line,
# you will be prompted to authorize Colab to access your Google Drive.
drive.mount('/content/gdrive')

In [ ]:
!ls
# a sample_data folder exists in Colab (not MyDrive) where sample datasets are prepackaged

sample_data

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
!ls /content/gdrive/

Mounted at /content/gdrive
MyDrive

In [ ]:
import pandas as pd
drive_path = '/content/gdrive/MyDrive/DataSets'
df = pd.read_csv(drive_path +'/Heteroaromatics.csv')

df.head()

         Smiles
0    CN1C=CC=C1
1     C1=CC=CN1
2   C1=CN=CC=C1
3  CC1=NC=CC=C1
4  CC1=CC=NC=C1

In [ ]:
#import pandas as pd
drive_path = '/content/gdrive/MyDrive/DataSets'
df = pd.read_csv(drive_path +'/Titanic-Dataset.csv')
#df = pd.read_csv(drive_path + '/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
# The URL points to the raw data on GitHub, not the HTML page
df2 = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [37]:
df2.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [38]:
df2['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [39]:
df2[df2['Survived'] == 1]  # filter rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [41]:
# Group data and calculate aggregates:
df2.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [42]:
# Sort data:
df2.sort_values(by='Age', ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [44]:
#Handle missing values:
df2.dropna() # or df2.fillna(value)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [47]:
# Create new columns:
df2['FamilySize'] = df2['SibSp'] + df2['Parch'] + 1
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [ ]:
import os
# The path to your Google Drive's root folder in Colab
drive_path = '/content/gdrive/MyDrive'

# List all items (files and folders) in My Drive
all_items = os.listdir(drive_path)

# Filter for directories (folders)
folders = [item for item in all_items if os.path.isdir(os.path.join(drive_path, item))]

# Print the list of folders
for folder in folders:
    print(folder)

In [ ]:
import os

# Replace 'My Folder Name' with the actual name of your folder in Google Drive
folder_path = '/content/gdrive/MyDrive/DataSets'

# Check if the folder exists before listing its contents
if os.path.exists(folder_path):
    files_in_folder = os.listdir(folder_path)
    print(f"Files in '{folder_path}':")
    for file_name in files_in_folder:
        print(file_name)
else:
    print(f"Folder '{folder_path}' not found.")

In [ ]:
# another example list all python files on colab

In [ ]:
import os
# You have mounted your Google Drive to /content/gdrive
# Specify the directory you want to list files from
# For example, if your files are in a folder named 'my_python_scripts' in your Google Drive,
# after mounting your Drive, the path might be:
# directory_path = '/content/drive/MyDrive/my_python_scripts'
# If files are directly in the Colab environment's content directory:
# directory_path = '/content/'
directory_path = '/content/gdrive/MyDrive/Colab Notebooks'

# Get all files and directories in the specified path
all_items = os.listdir(directory_path)

# Filter for Python files
python_files = [item for item in all_items if item.endswith('.ipynb')]

print("Python files in the directory:")
for file in python_files:
    print(file)

In [ ]:
# another example

In [ ]:
from tensorflow.keras.datasets import mnist

# Load the MNIST dataset
(x_train, y_train), (x_test, y_test) = mnist.load_data()
#  or:  (x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()
# You can then inspect the shapes of the loaded data
print(f"Training data shape: {x_train.shape}")
print(f"Training labels shape: {y_train.shape}")
print(f"Test data shape: {x_test.shape}")
print(f"Test labels shape: {y_test.shape}")

In [ ]:
# Flatten the images and create a DataFrame for a subset (e.g., x_train)
# Each row represents an image, and each column represents a pixel
# We'll use a small subset of x_train for demonstration
num_samples = 1000
x_train_flat = x_train[:num_samples].reshape(num_samples, -1)
df_mnist = pd.DataFrame(x_train_flat)

In [ ]:
# Print the first 5 rows
print("First 5 rows of MNIST DataFrame:")
print(df_mnist.head(5))

In [ ]:
# Print the last 5 rows
print("\nLast 5 rows of MNIST DataFrame:")
print(df_mnist.tail(5))

In [ ]:
# Display the first image in the training set
# Visualize a Single Image: Display a single image from the training set using plt.imshow().
plt.imshow(x_train[0], cmap='gray')
plt.title(f"Label: {y_train[0]}")
plt.axis('off') # Hide axes
plt.show()

In [ ]:
# Visualize Multiple Images: Create a grid of images to visualize several examples and their corresponding labels.
# Visualize the first 5 images from the training set
# This line creates a figure and a set of subplots. It specifies a grid of 1 row and 5 columns,
# and sets the overall size of the figure.
fig, axes = plt.subplots(1, 5, figsize=(10, 5))
# This flattens the axes array, making it easier to iterate through each subplot.
axes = axes.flatten()
# The code is not selecting images randomly. The for i in range(5): loop iterates through the numbers 0 to 4.
# This means it is selecting and displaying the first 5 images from
# the x_train dataset in the order they appear in the dataset.
for i in range(5):
  # This displays the i-th image from the training data (x_train[i]) in the
  # i-th subplot (axes[i]). cmap='gray' renders the images in grayscale.
    axes[i].imshow(x_train[i], cmap='gray')
    # This sets the title of each subplot to the corresponding label from the training labels
    axes[i].set_title(f"Label: {y_train[i]}")
    # This hides the axes for each subplot, making the image more prominent.
    axes[i].axis('off')

#  This adjusts the spacing between subplots to prevent labels and titles from overlapping.
plt.tight_layout()

# This displays the generated plot with the 5 images.
plt.show()

# Display the first image in the training set
# plt.imshow(x_train[0], cmap='gray')
# plt.title(f"Label: {y_train[0]}")
# plt.axis('off') # Hide axes
# plt.show()

In [ ]:
# another way to get MNIST

In [ ]:
# https://keras.io/api/datasets/mnist/#mnist-digits-classification-dataset
import kagglehub

# Download latest version
path = kagglehub.dataset_download("agungpambudi/mnist-multiple-dataset-comprehensive-analysis")

print("Path to dataset files:", path)

In [ ]:
# must restart runtime
keras.datasets.mnist.load_data(path="mnist.npz")